---
layout: default
title: skennycomedy
---

<p></p>
<div class="intro show-dates-block">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/4CRGbiNS5iE"
	    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
		   encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    <table class="full-width-table" id="showstable">
	<thead>
	    <tr>
		<th colspan="3" class="show-table-heading">SHOW DATES 2025</th>
	    </tr>
	</thead>
	<tbody>
	    {% for show in site.data.shows %}
	    <tr>
		<td>{{ show.date }}<br>{{ show.venue }}</td>
		<td>{{ show.location }}</td>
		<td>
		    {% if show.link %}
		    <a href="{{ show.link }}" class="button-link"><span class="button">TICKETS</span></a>
		    {% endif %}
		</td>
	    </tr>
	    {% endfor %}
	</tbody>
    </table>
</div>
